$btn-inputfile: $brand-primary;
$btn-inputfile-hover: darken($btn-inputfile, 5%);
$bg-inputfile: $grey-200;
	.wrapper-inputfile, .box
    {
        text-align: center;
        background-color: $bg-inputfile;
        padding: 1.25rem 1.25rem;
        color: $grey-500;
        border:1px solid $grey-300;
        + .wrapper-inputfile 
        {
            margin-top: 2rem;
        }
        
    }
    .inputfile 
    {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        + label 
        {
            max-width: 80%;
            font-size: 1.5rem;
            /* 20px */
            font-weight: normal;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            padding: 0.625rem 1.25rem;
            /* 10px 20px */
        }
        &:focus + label,
        &.has-focus + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }
        + label svg {
            width: 1em;
            height: 1em;
            vertical-align: middle;
            fill: currentColor;
            margin-top: -0.25em;
            /* 4px */
            margin-right: 0.25em;
            /* 4px */
        }

        /* style 1 - button */

        &.inputfile-1 + label 
        {
            color: $white;
            background-color: $btn-inputfile;
        }

        &.inputfile-1:focus + label,
        &.inputfile-1.has-focus + label,
        &.inputfile-1 + label:hover 
        {
            background-color: $btn-inputfile-hover;
        }



        /* style 2 - outline */

        &.inputfile-2 + label 
        {
            color: $btn-inputfile;
            border: 2px solid currentColor;
            transition: all .5s ease-in;
        }

        &.inputfile-2:focus + label,
        &.inputfile-2.has-focus + label,
        &.inputfile-2 + label:hover 
        {
            color: $white;
            background-color: $btn-inputfile-hover;
            border: 2px solid $btn-inputfile-hover;
        }

        /* style 3 - link */

        &.inputfile-3 + label 
        {
            color: $btn-inputfile;
        }

        &.inputfile-3:focus + label,
        &.inputfile-3.has-focus + label,
        &.inputfile-3 + label:hover 
        {
            color: $btn-inputfile-hover;
        }


        /* style 4 - simple */

        &.inputfile-4 + label 
        {
            color: $btn-inputfile;
        }

        &.inputfile-4:focus + label,
        &.inputfile-4.has-focus + label,
        &.inputfile-4 + label:hover 
        {
            color: $btn-inputfile-hover;
        }

        &.inputfile-4 + label figure 
        {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: $btn-inputfile;
            display: block;
            padding: 20px;
            margin: 0 auto 10px;
        }

        &.inputfile-4:focus + label figure,
        &.inputfile-4.has-focus + label figure,
        &.inputfile-4 + label:hover figure 
        {
            background-color: $btn-inputfile-hover;
        }

        &.inputfile-4 + label svg 
        {
            width: 100%;
            height: 100%;
            fill: $white;
        }


        /* style 5 - circle */

        &.inputfile-5 + label 
        {
            color: $btn-inputfile;
        }

        &.inputfile-5:focus + label,
        &.inputfile-5.has-focus + label,
        &.inputfile-5 + label:hover 
        {
            color: $btn-inputfile-hover;
        }

        &.inputfile-5 + label figure 
        {
            width: 100px;
            height: 135px;
            background-color: $btn-inputfile;
            display: block;
            position: relative;
            padding: 30px;
            margin: 0 auto 10px;
        }

        &.inputfile-5:focus + label figure,
        &.inputfile-5.has-focus + label figure,
        &.inputfile-5 + label:hover figure 
        {
            background-color: $btn-inputfile-hover;
        }

        &.inputfile-5 + label figure::before,
        &.inputfile-5 + label figure::after 
        {
            width: 0;
            height: 0;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
        }

        &.inputfile-5 + label figure::before 
        {
            border-top: 20px solid $bg-inputfile;
            border-left: 20px solid transparent;
        }

        &.inputfile-5 + label figure::after 
        {
            border-bottom: 20px solid $btn-inputfile-hover;
            border-right: 20px solid transparent;
        }

        &.inputfile-5:focus + label figure::after,
        &.inputfile-5.has-focus + label figure::after,
        &.inputfile-5 + label:hover figure::after 
        {
            border-bottom-color: $btn-inputfile;
        }

        &.inputfile-5 + label svg 
        {
            width: 100%;
            height: 100%;
            fill: $white;
        }


        /* style 6 - file */

        &.inputfile-6 + label 
        {
            color: $btn-inputfile;
        }

        &.inputfile-6 + label 
        {
            border: 1px solid $btn-inputfile;
            background-color: $white;
            padding: 0;
        }

        &.inputfile-6:focus + label,
        &.inputfile-6.has-focus + label,
        &.inputfile-6 + label:hover 
        {
            border-color: $btn-inputfile-hover;
        }

        &.inputfile-6 + label span,
        &.inputfile-6 + label strong 
        {
            padding: 0.625rem 1.25rem;
            /* 10px 20px */
        }

        &.inputfile-6 + label span 
        {
            width: 200px;
            min-height: 2em;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: top;
        }

        &.inputfile-6 + label strong 
        {
            height: 100%;
            color: $white;
            background-color: $btn-inputfile;
            display: inline-block;
        }

        &.inputfile-6:focus + label strong,
        &.inputfile-6.has-focus + label strong,
        &.inputfile-6 + label:hover strong 
        {
            background-color: $btn-inputfile-hover;
        }

        


    }
// .no-js .inputfile + label {
//     display: none;
// }

@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
        display: block;
    }
}














